<header role="banner">
	<h1>Follow your diet</h1>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <a href="/assets/images/breakfast.jpg" download>
        <img class="card-img-top" src="/assets/images/breakfast.jpg" alt="Card image cap">
      </a>
        <div class="card-block">
          <h4 class="card-title">BREAKFAST</h4>
          <h4 class="card-title">Spiced Banana-Chocolate Muffins</h4>
          <p class="card-text"><b>Nutrition (for two muffins): <br>About 300 calories,<br> 6 g protein,<br> 48 g carbohydrates,<br> 8 g fat (2 g saturated),<br>6 g fiber, 430 mg sodium.</b></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card" height ="200px"  width ="200px">
        <img class="card-img-top" src="/assets/images/Lunch.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">LUNCH</h4>
          <h4 class="card-title">Baked sweet potato</h4>
          <p class="card-text"><b>Nutrition <br>112 calories<br>438 mg potassium (12% DV)<br>32mg magnesium (8% DV) <br> 0.8mg iron (3% DV)<br>2g protein<br>18,443 IU vitamin A (386% DV)</b></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/images/Snacks.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">SNACKS</h4>
          <h4 class="card-title">Avocado Toast</h4>
          <p class="card-text"><b>Nutrition <br>  160 calories<br> protein 7.4g<br>carbohydrates 10.8g<br>dietary fiber 5.7g</b></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <a href="/assets/images/dinner.png" download>
        <img class="card-img-top" src="/assets/images/dinner.png " alt="Card image cap">
      </a>
        <div class="card-block">
          <h4 class="card-title">DINNER</h4>
          <h4 class="card-title">Seared Salmon with Roasted Cauliflower</h4>
          <p class="card-text"><b>Nutrition <br>  172 calories<br> protein 5.4g<br>carbohydrates 17.8g<br>dietary fiber 5.9g</b></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<br> <br> <br>

<div class="container-fluid">
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="//placehold.it/720x350" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"></h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="//placehold.it/720x350" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"></h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="//placehold.it/720x350" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"></h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>

      <div class="card" height ="200px"  width ="200px">
        <img class="card-img-top" src="/assets/images/Lunch.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">LUNCH</h4>
          <h4 class="card-title">Baked sweet potato</h4>
          <p class="card-text"><b>Nutrition <br>112 calories<br>438 mg potassium (12% DV)<br>32mg magnesium (8% DV) <br> 0.8mg iron (3% DV)<br>2g protein<br>18,443 IU vitamin A (386% DV)</b></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>
  </div>
</div>