
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta charset = "UTF-8" />


<!-- <div class="sidenav">
  <div class="login-main-text">
     <h1>Put Your<br>Creative Energy<br>to work, with<br>Dropbox</h1>
     <p>Drop box is modern workspace designed<br> to reduce busywork-so you can focus on<br> the things matter</p>
  </div>
</div> -->

<div class="container">
<div class="row">
    <div class="col-md-6">

     <form  (ngSubmit)="registerNow()" #myForm="ngForm">

        <div class="form-group">
            <label for="fullName"> FullName</label>
            <input 
            type="text"
            id="fullName" 
            class="form-control" 
            placeholder="Enter FullName"
            required 
            minlength="5"
            maxlength="15"
            ngModel name="fullName"
            #fullName = "ngModel"
            [(ngModel)]="user.fullName" 
            name="fullName"
            >
            <div class="alert alert-danger" *ngIf="fullName.touched && !fullName.valid">
                <div *ngIf="fullName.errors.required">*required</div>
                <!-- <div *ngIf="fullName.errors.minlength">Name should be atleast of 5 characters</div>
                <div *ngIf="fullName.errors.maxlength">Name should be atleast of 15 in length</div> -->
                <div *ngIf="fullName.errors.pattern">Should match the pre-defined pattern</div>
              </div>
            </div> 

            <div class="form-group">
              <label for="phoneNumber"> phoneNumber</label>
              <input 
              type="number"
              id="phoneNumber" 
              class="form-control" 
              placeholder="Enter your PhoneNumber"
              required 
              maxlength="10"
              pattern="{3,7}"
              ngModel name="phoneNumber"
              #phoneNumber = "ngModel"
              [(ngModel)]="user.phoneNumber" 
              name="phoneNumber"
              >
              <div class="alert alert-danger" *ngIf="phoneNumber.touched && !phoneNumber.valid">
                  <div *ngIf="phoneNumber.errors.required">*required</div>
                  <div *ngIf="phoneNumber.errors.maxlength">Phone Number should be atleast of 10 in length</div>
                  <div *ngIf="phoneNumber.errors.pattern">Should match the pre-defined pattern</div>
                </div>
              </div>   
              <div class="form-group">
                <label for="password"> password</label>
                <input 
                type="password"
                id="password" 
                class="form-control" 
                placeholder="Enter password"
                required 
                maxlength="8"     
                ngModel name="password"
                #password = "ngModel"
                [(ngModel)]="user.password" 
                name="password"
                >
                <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                    <div *ngIf="password.errors.required">*required</div>
                    <div *ngIf="password.errors.maxlength">Password should be atleast of 8 in length</div>     
                  </div>
                </div>          
                <div class="form-group">
                  <label for="height">Your Height</label>
                  <input 
                  type="number"
                  id="height" 
                  class="form-control" 
                  placeholder="Enter your Height"
                  required 
                  maxlength="4"
                  pattern="{1,10}"
                  ngModel name="height"
                  #height = "ngModel"
                  [(ngModel)]="user.height" 
                  name="height"
                  >     
                  <div class="alert alert-danger" *ngIf="height.touched && !height.valid">
                      <div *ngIf="height.errors.required">*required</div>
                      <div *ngIf="height.errors.maxlength">Phone Number should be atleast of 4 in length</div>
                      <div *ngIf="height.errors.pattern">Should match the pre-defined pattern</div>
                    </div>
                  </div>     
                  <div class="form-group">
                    <label for="weight">Your Weight</label>
                    <input 
                    type="number"
                    id="weight" 
                    class="form-control" 
                    placeholder="Enter your Weight"
                    required 
                    maxlength="4"
                    pattern="{1,10}"
                    ngModel name="weight"
                    #weight = "ngModel"
                    [(ngModel)]="user.weight" 
                    name="weight"
                    >
                    <div class="alert alert-danger" *ngIf="weight.touched && !weight.valid">
                        <div *ngIf="weight.errors.required">*required</div>
                        <div *ngIf="weight.errors.maxlength">Weight should be atleast of 4 in length</div>
                        <div *ngIf="weight.errors.pattern">Should match the pre-defined pattern</div>
                      </div>
                    </div>                      
                    <div class="form-group">
                      <label for="bmi">Your Bmi</label>
                      <input 
                      type="number"
                      id="bmi" 
                      class="form-control" 
                      placeholder="Enter your bmi"
                      maxlength="3"
                      pattern="{1,10}"
                      ngModel name="bmi"
                      #bmi = "ngModel"
                      [(ngModel)]="user.bmi" 
                      name="bmi"
                      >
                      <div class="alert alert-danger" *ngIf="bmi.touched && !bmi.valid">
                          <div *ngIf="bmi.errors.maxlength">bmishould be atleast of 3 in length</div>
                          <div *ngIf="bmi.errors.pattern">Should match the pre-defined pattern</div>
                        </div>
                      </div>                   
                      <div class="form-group">
                        <label for="yearsOfSubscription">Enter Years of Subscription</label>
                        <input 
                        type="number"
                        id="yearsOfSubscription" 
                        class="form-control" 
                        placeholder="Enter number of years"
                        pattern="{1,10}"
                        ngModel name="yearsOfSubscription"
                        #yearsOfSubscription = "ngModel"
                        [(ngModel)]="user.yearsOfSubscription" 
                        name="yearsOfSubscription"
                        >
                        <div class="alert alert-danger" *ngIf="yearsOfSubscription.touched && !yearsOfSubscription.valid">
                            <div *ngIf="yearsOfSubscription.errors.pattern">Should match the pre-defined pattern</div>
                          </div>
                        </div>                       
                <button type="submit"  class="btn btn-success" [disabled]="!myForm.form.valid">Register</button>                 
                <a href="http://localhost:4200/payment"   type="submit" name="submit_reg"  class="btn btn-success" role="button" style="margin-left:50px">PAY</a>
            </form>
    </div>
</div>
</div>

